body {
    
	background-image: url("../images/exploding-popcorn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Work Sans', sans-serif;
    
   
    
}

.header {
	margin-left: 5px;
}
#nav-title {
	color: #F6AA1C;
	font-size: 40px;
}

#nav-description {
	font-size: 16px;
	color: #FBF3CA;
	text-align: center;
	
}



.nav-link {
	color: #FAF3D2;
	font-size: 16x;
}
#genreToggle {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

header {
    width: 300px;
    margin: 0 auto;   
}

h1 {
    color: #780116;
}

.searchContainer {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

#name-search {
    text-align: center;
}

.searchInput {
    border: 0.1rem solid black;
    text-align: center;
    border-radius: 1rem;
}

.searchInput:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: black;
}

.nav-link:hover {
    color:#F6AA1C;
}

#currentTab {
    color: #F6AA1C;
}
.dropdown-menu {
    min-width: 15rem;
}

.dropdown-item {
    border-bottom: 0.1rem solid black;
}

.dropdown-item:hover {
    background: #F7B538;
}

.card {
    box-shadow: 1rem 1rem 1rem black;
    background-color: #343a40;
    background-repeat: repeat;
    border-radius: 1rem;
    color: white;
}

.btn {
    background-color: #F7B538;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
}
.btn:hover {
   font-weight:bold;
}

.btn:focus {
    outline: none !important;
    box-shadow: none;
}

.list-group {
    border-radius: 0.3rem;
}
.list-group-item {
    border: 0.1rem solid black;
    box-shadow: 0.1rem 0.1rem 0.1rem black, -0.1rem -0.1rem 0.1rem black;
    background-color: black;
    color: white;
}

.card-title {
    text-decoration: underline;
}

.card-img-top {
    box-shadow: 0.1rem 0.1rem 0.1rem black;
}

.alert {
    display: block !important;
    top: 50% !important;
}
