body {
    /*background-image: url("../images/391696-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    */
    background-color: #FBF3CA;
    
}

h5 {
    color: #780116;
}

.scrolling-wrapper{
	overflow-x: auto;
}

.card-block{
	height: 300px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
}

	
