body {
    
	/*background-image: url("../images/exploding-popcorn.jpg"); */
	background-image: linear-gradient(#F6AA1C, #BC3908, #941B0C, #621708, #220901);
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Work Sans', sans-serif;   
	
}

.header {
	margin-left: 5px;
}

#nav-title {
	color: #F6AA1C;
	font-size: 40px;
}

#nav-description {
	font-size: 16px;
	color: #FBF3CA;
	text-align: center;
	
}

.nav-link {
	color: #FAF3D2;
	font-size: 16x;
}


.scrolling-wrapper{
	overflow-x: auto;
	color: white;
}

.section-title {
	color: white;
	margin-left: 33px;
	margin-top: 50px;
	margin-bottom: 0;
	
	
}

h4 span {
	background-color: #292b2c;
	box-shadow: 5px 5px 5px #220901;
}




	
