body {
    
	background-image: url("../images/exploding-popcorn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Work Sans', sans-serif;
    
   
    
}

.header {
	margin-left: 5px;
}
#nav-title {
	color: #F6AA1C;
	font-size: 40px;
}

#nav-description {
	font-size: 16px;
	color: #FBF3CA;
	text-align: center;
	
}



.nav-link {
	color: #FAF3D2;
	font-size: 16x;
}






h5 {
	color: white;
}

.scrolling-wrapper{
	overflow-x: auto;
}

.card-block{
	height: 300px;
	color: white;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
}

.section-title {
	color: white;
	margin-left: 30px;
	margin-top: 50px;
	
}



	
