body {
    
	background-image: url("../images/exploding-popcorn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
   
    
}

header {
	height: 20px;
}

nav {
	height: 20px;
}

h1 {
	color: #F6AA1C;
}

h4 {
    color: #780116;
}

.nav-link {
	color: #FAF3D2;
}

h5 {
	color: white;
}

.scrolling-wrapper{
	overflow-x: auto;
}

.card-block{
	height: 300px;
	color: white;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
}

.movie-title {
	color: white;
	background-color: #F6AA1C;
	margin-left: 10px;
	margin-right: 90%;

}

#form-container3 {
	padding-left: 32px;
}

	
