

/* adds background image to page  */

body {
    background-image: url("../images/exploding-popcorn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
}

/*adds color to H1 tag*/


h4 {
    color: #780116;
}

h5 {
	color: white;
}