

/* adds background image to page  */

body {
    background-image: url("../images/exploding-popcorn.jpg");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
}

/*adds color to H1 tag*/



header {
	height: 20px;
}

nav {
	height: 20px;
}

h1 {
	color: #F6AA1C;
}

h4 {
    color: #780116;
}

.nav-link {
	color: #FAF3D2;
}

h5 {
	color: white;
}